<div class="container">
  <%= link_to "Back", kittens_path %>
  <%= render 'flash' %>
  
  <h1>Your chosen Kitty Kat</h1>
  <table>
    <tr>
      <th>Cat</th>
      <th>Name</th>
      <th>Age</th> 	       
      <th>Cuteness</th>
      <th>Softness</th>
    </tr>
    <tr>
      <td><%= @kitten.id %></td>
      <td><%= @kitten.name %></td>
      <td><%= @kitten.age %></td>
      <td><%= @kitten.cuteness %></td>
      <td><%= @kitten.softness %></td> 
      <td><%= link_to "edit", edit_kitten_path(@kitten) %></td>
      <td><%= link_to "delete", @kitten, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr> 
  </table>
</div>
